<!DOCTYPE html>
<html>
<head>
  <title>cnpl-page</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>
<body ng-app="myApp" ng-init="sidebarOpen=true" ng-class="{'sidebar-closed': !sidebarOpen}">
  <header class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3" ng-click="isCollapsed = !isCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand visible-xs" href="#">UI Bootstrap</a>
        </div>
        <nav class="hidden-xs">
          <ul class="nav navbar-nav">
            <a href="#" role="button" class="navbar-brand">
                UI Bootstrap
            </a>
            <li class="dropdown" uib-dropdown is-open="status.isopen">
              <a href="#" role="button" class="dropdown-toggle" uib-dropdown-toggle>
                  Directives <b class="caret"></b>
              </a>
              <ul class="dropdown-menu" uib-dropdown-menu>
                  <li><a href="#accordion">Accordion</a></li><li><a href="#alert">Alert</a></li><li><a href="#buttons">Buttons</a></li><li><a href="#carousel">Carousel</a></li><li><a href="#collapse">Collapse</a></li><li><a href="#datepicker">Datepicker</a></li><li><a href="#dropdownToggle">Dropdown Toggle</a></li><li><a href="#modal">Modal</a></li><li><a href="#pagination">Pagination</a></li><li><a href="#popover">Popover</a></li><li><a href="#progressbar">Progressbar</a></li><li><a href="#rating">Rating</a></li><li><a href="#tabs">Tabs</a></li><li><a href="#timepicker">Timepicker</a></li><li><a href="#tooltip">Tooltip</a></li><li><a href="#typeahead">Typeahead</a></li>
              </ul>
            </li>
            <li><a href="#getting_started">Getting started</a></li>
          </ul>
        </nav>
        <nav class="visible-xs" collapse="!isCollapsed">
            <ul class="nav navbar-nav">
                <li><a href="#getting_started" ng-click="isCollapsed = !isCollapsed">Getting started</a></li>
                <li><a href="#directives_small" ng-click="isCollapsed = !isCollapsed">Directives</a></li>
            </ul>
        </nav>
      </div>
    </div>
  </header>
  <div class="container-fliuid body-wrapper">
    <div class="sidebar" ng-controller="sidebarCtrl">
       <div class="nav-side-menu">
          <div class="brand">
            <span class="nav-text">Menu</span>
            <a class="glyphicon glyphicon-menu-hamburger" ng-click="$parent.sidebarOpen=!$parent.sidebarOpen"></a>
          </div>
          <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
        
              <div class="menu-list">
        
                  <ul id="menu-content" class="menu-content collapse out">
                      <li>
                        <a href="#">
                        <i class="glyphicon glyphicon-dashboard"></i> <span class="nav-text">Dashboard</span>
                        </a>
                      </li>

                      <li  data-toggle="collapse" data-target="#products" class="collapsed active">
                        <a href="#"><i class="glyphicon glyphicon-baby-formula"></i> <span class="nav-text">Dashboard</span> <span class="arrow"></span></a>
                      </li>
                      <ul class="sub-menu collapse" id="products">
                          <li class="active"><a href="#">CSS3 Animation</a></li>
                          <li><a href="#">General</a></li>
                          <li><a href="#">Buttons</a></li>
                      </ul>


                      <li data-toggle="collapse" data-target="#service" class="collapsed">
                        <a href="#"><i class="fa fa-globe fa-lg"></i> <span class="nav-text">Dashboard</span> <span class="arrow"></span></a>
                      </li>  
                      <ul class="sub-menu collapse" id="service">
                        <li>New Service 1</li>
                        <li>New Service 2</li>
                        <li>New Service 3</li>
                      </ul>
                  </ul>
           </div>
      </div>
    </div>
    <div class="main-container">
      <div style="display:inline-block; min-height:290px;">
      <div uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></div>
    </div>
    <div class="btn-group" uib-dropdown is-open="button.isopen">
      <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
        Button dropdown <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem"><a href="#">Action</a></li>
        <li role="menuitem"><a href="#">Another action</a></li>
        <li role="menuitem"><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li role="menuitem"><a href="#">Separated link</a></li>
      </ul>
    </div>
    <button id="single-button" type="button" class="btn btn-warning" ng-click="open()">
        Button dropdown
      </button>
    </div>
  </div>

  <script type="text/javascript" src="assets/js/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="assets/js/angular.min.js"></script>
  <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="assets/js/ui-bootstrap-tpls-2.0.0.min.js"></script>
  <script type="text/javascript" src="assets/js/app.js"></script>
</body>
</html>
